<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <title>BookTunes: Discover Your Book's Perfect Soundtrack</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="title" content="BookTunes: Discover Your Book's Perfect Soundtrack">
  <meta name="description" content="Don't settle for silence while you read - let us curate the perfect background music for you">


  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
  <link rel="manifest" href="/static/favicons/site.webmanifest">

  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/reco.css">

  <meta name="theme-color" content="#fafafa">


</head>

<body class="fade-in one">

  <!-- Add your site or application content here -->
  <h1>Here you go !</h1> <br> <br>
{% for item in reco %}
<p style="text-align: left;">{{ item }}</p>
{% endfor %}

  <br>
  <center><button onClick="location.href='/'">Another One ?</button></center>
    <script src="/static/js/vendor/modernizr-3.11.2.min.js"></script>
  <script src="/static/js/plugins.js"></script>
  <script src="/static/js/main.js"></script>
</div>
</body>

</html>